a {
    text-decoration: none;
}


    

div{
    color:rgb(113, 184, 246);
    font-family: 'Cutive Mono', monospace;
    font-weight: 900;
    background-color:rgb(0, 0, 0);
    background-size: cover;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    background-size: cover;
    background-image:url(scattered-forcefields.svg);
    background-attachment: local ;
    justify-content: flex-start;
    align-items: center;
}

.heading {
    align-self: flex-start;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: rgb(113, 184, 246);
    border-right-style: solid;
    border-right-color:rgb(113, 184, 246);
    border-right-width: 5px;
    border-radius: 8px;
    font-size: 24px;
    min-width: 129.453px;
    min-height: 108px;
    position: fixed;
}

.right {
    justify-self: flex-end;
}

.home {
    justify-self: flex-start;
}
.hello{
    margin-top: 2rem;
    font-size:xxx-large;
    font-weight:900;
    text-decoration: underline;
}

.abt {
    max-width: 600px;
}

.typed-cursor {
    color:rgb(113, 184, 246)
}

.big {
    margin:120rem;
}

.tech {
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    width: 24rem;
    align-items: flex-start;
    justify-content: flex-start;
}

.wrapperOne{
    display: flex;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    margin-top: 4rem;
}

.pegasus {
    background-color:rgb(113, 184, 246);
    height: 10rem;
    width: 10rem;
    border-style: solid;
    border-color:rgb(113, 184, 246);
    border-radius: 200px;
}

li {
    list-style-type:none;
    margin: .5rem;
}

.wrapperTwo {
    margin-top: 4rem;
    display: flex;
    gap: 2.5rem;
    justify-content: space-between;
    align-items: center;
}

.projHead {
    margin-top: 6rem;
    font-size:xxx-large;
    font-weight:900;
    text-decoration: underline;

    
}

.projects {
    margin-top: 10rem;
    font-size: x-large;
    flex: 1;
    padding: 2rem;
    background-color: transparent;
    border-style: solid;
    border-color: rgb(113, 184, 246);
    border-width: 10px;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    width: 6rem;


}
.projects:hover{
    scale: 1.1;
    border-color: white;
    color:white;
    cursor:pointer;
    box-shadow:
    0 0 7.5px 3.75px #fff,  
    0 0 12.5px 7.5px #f0f, 
    0 0 17.5px 13.75px #0ff; 
}

.contHead{
    margin-top: 12rem;
    font-size:xxx-large;
    font-weight:900;
    text-decoration: underline;

}
.wrapperThree {
    margin-top: 10rem;
    display: flex;
    width: 100vw;
    justify-content: space-evenly;

}

.conts{
    width: 6rem;
    height: 6rem;
}

.conts:hover{
    scale: 1.1;
    color:white;
    cursor:pointer;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    font-size: larger;
    text-decoration: underline;
}

.thanks {
    margin-top: 15rem;
    margin-bottom: 15rem;
    font-size: xxx-large;
}
.empty{
    width: 100vw;
    margin-top: auto;
    border-style: solid;
    border-color:rgb(0, 0, 0);
    border-width: 1px;
}

@media screen and (max-width: 625px){
    .heading{
        font-size: 18px;
        min-width: 97.1px;
        min-height: 80px;
    }
    .pegasus{
        max-height: 5rem;
        max-width: 8rem;
    }
    .wrapperOne {
        gap: 1rem;
    }
    .projects{
        font-size: medium;
        padding: 1rem;
        height: 4rem;
        width: 4rem;
        gap: 0;
    }
} 